aioredis==1.3.0
aliyun-python-sdk-cms==5.0.0
aliyun-python-sdk-core==2.13.10
aliyun-python-sdk-ecs==4.17.5
aliyuncli==2.1.5
amqp==2.5.1
anyjson==0.3.3
argon2-cffi==19.1.0
asgiref==3.2.2
asn1crypto==1.0.1
async-timeout==3.0.1
attrs==19.2.0
autobahn==19.10.1
Automat==0.7.0
awesome-slugify==1.6.5
backports.csv==1.0.7
billiard==3.5.0.5
celery==4.1.1
certifi==2019.9.11
cffi==1.12.3
channels==2.3.0
channels-redis==2.4.0
chardet==3.0.4
colorama==0.3.3
constantly==15.1.0
coverage==4.5.4
cryptography==2.7
daphne==2.3.0
defusedxml==0.6.0
diff-match-patch==20181111
Django==2.0.2
django-allauth==0.40.0
django-appconf==1.0.3
django-celery-beat==1.5.0
django-celery-email==2.0.1
django-chunked-upload==1.1.3
django-ckeditor==5.7.1
django-compressor==2.3
django-contrib-comments==1.9.1
django-crispy-forms==1.7.2
django-debug-toolbar==2.0
django-environ==0.4.5
django-extensions==2.2.3
django-formtools==2.1
django-haystack==2.8.1
django-imagekit==4.0.2
django-import-export==1.2.0
django-js-asset==1.2.2
django-markdownx==2.0.28
django-mdeditor==0.1.16
django-pure-pagination==0.3.0
django-ranged-response==0.2.0
django-ratelimit==2.0.0
django-redis==4.10.0
django-reversion==3.0.4
django-shortuuidfield==0.1.3
django-simple-captcha==0.5.12
django-stdimage==3.2.0
django-taggit==1.1.0
django-timezone-field==3.1
djangorestframework==3.10.3
dnspython==1.16.0
elasticsearch==2.0.0
et-xmlfile==1.0.1
eventlet==0.25.1
future==0.18.0
greenlet==0.4.15
hiredis==1.0.0
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.23
incremental==17.5.0
itsdangerous==1.1.0
jdcal==1.4.1
jieba==0.39
jmespath==0.7.0
kombu==4.6.5
Markdown==3.1.1
monotonic==1.5
more-itertools==7.2.0
msgpack==0.6.2
mysqlclient==1.4.4
oauthlib==3.1.0
odfpy==1.4.0
openpyxl==3.0.0
oscrypto==1.1.0
pilkit==2.0
Pillow==6.2.0
progressbar2==3.47.0
pycparser==2.19
PyHamcrest==1.9.0
PyMySQL==0.9.3
python-crontab==2.3.9
python-dateutil==2.8.0
python-slugify==3.0.4
python-utils==2.3.0
python3-openid==3.1.0
pytz==2019.2
PyYAML==5.1.2
qiniu==7.2.6
redis==3.2.1
regex==2019.8.19
requests==2.22.0
requests-oauthlib==1.2.0
rjsmin==1.1.0
shortuuid==0.5.0
six==1.12.0
sorl-thumbnail==12.5.0
sqlparse==0.3.0
tablib==0.13.0
text-unidecode==1.3
tornado==4.5.3
Twisted==19.7.0
txaio==18.8.1
Unidecode==0.4.21
urllib3==1.25.6
vine==1.3.0
Whoosh==2.7.4
xlrd==1.2.0
xlwt==1.3.0
zipp==0.6.0
zope.interface==4.6.0
